<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="ShopHeader">
    <a th:href="@{/}" class="logo-link"><span class="title">MyShop</span></a>

    <a th:href="@{/order/cart}" class="cart-ico">
        <div>
            <span>Koszyk</span>
            <span>( </span>
            <span th:text="${@cart.counter}"></span>
            <span>)</span>
            <span th:text="${@cart.sum}"></span>
            <span>zł</span>
        </div>
    </a>
</header>
</body>
</html>

