<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <a th:href="@{/}" class="logo-link"><span class="title">MyShop</span></a>
    </header>

    <div class="main-content">

        <div class="summary">
            <form th:action="@{/admin}" method="POST">
                <label>Nazwa</label>
                <input type="text" name="name">
                <label >Opis</label>
                <input type="text" name="description">
                <label >Cena</label>
                <input type="text" name="price">
                <label>urlImg</label>
                <input type="text" name="imageURL">
                <button type="submit" class="add-btn">Dodaj</button>
            </form>

        </div>
    </div>
</body>
</html>