<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header th:replace="fragments/header::ShopHeader"></header>>
    <div class="main-content">

            <table cellspacing="0" style="border: 0px">
                <tr>
                </tr>
            </table>
            <div class="summary">
                <span></span>
            </div>

        <div class="summary">

            <form>
                <label>Imię</label>
                <input type="text" name="firstName" required>
                <label>Nazwisko</label>
                <input type="text" name="lastName" required>
                <label>Address</label>
                <input type="text" name="address" required>
                <label>kod pocztowy</label>
                <input type="text" name="postCode" required>
                <label>Miasto</label>
                <input type="text" name="city" required>
                <button type="submit" class="add-btn">Zamów</button>
            </form>

        </div>


    </div>

</body>
</html>