<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header th:replace="fragments/header::ShopHeader"></header>
    <div class="main-content">

            <table cellspacing="0" style="border:0px">
                <tr>
                    <th>No.</th>
                    <th></th>
                    <th>Nazwa</th>
                    <th>Ilość</th>
                    <th>Suma</th>
                </tr>
                <tr th:each="cartItem, iterStat : ${cart.cartItems}">
                    <td th:text="${iterStat.count}">1</td>
                    <td>
                        <img th:src="@{${cartItem.item.imageURL}}" width="50"/>
                    </td>
                    <td th:text="${cartItem.item.name}">Nazwa produktu</td>
                    <td th:text="${cartItem.counter}">1</td>
                    <td th:text="${cartItem.price}">10.50 zł</td>
                </tr>
            </table>
            <div class="summary">
                <span></span>
            </div>

        <div class="summary">

            <form th:action="@{/order/saveorder}" method="post">
                <label>Imię</label>
                <input type="text" name="firstName" required>
                <label>Nazwisko</label>
                <input type="text" name="lastName" required>
                <label>E-mail</label>
                <input type="email" name="email" required>
                <label>Kod pocztowy</label>
                <input type="text" name="zipCode" required>
                <label>Miasto</label>
                <input type="text" name="city" required>
                <button type="submit" class="add-btn">Zamów</button>
            </form>

        </div>


    </div>

</body>
</html>